@layer base {
	@font-face {
		font-family: 'Segoe UI';
		src: local('Segoe Ui Light'), local('Segoe-Ui-Light'), local('segoe ui light'),
			local('segoe-ui-light'), url('/fonts/segoe-ui/segoeuil.ttf') format('truetype');
		font-weight: lighter;
		font-display: swap;
	}

	@font-face {
		font-family: 'Segoe UI';
		src: local('Segoe Ui Semilight'), local('Segoe-Ui-Semilight'), local('segoe ui semilight'),
			local('segoe-ui-semilight'), url('/fonts/segoe-ui/segoeuisl.ttf') format('truetype');
		font-weight: light;
		font-display: swap;
	}

	@font-face {
		font-family: 'Segoe UI';
		src: local('Segoe Ui'), local('Segoe-Ui'), local('segoe ui'), local('segoe-ui'),
			url('/fonts/segoe-ui/segoeui.ttf') format('truetype');
		font-weight: normal;
		font-display: swap;
	}

	@font-face {
		font-family: 'Segoe UI';
		src: local('Segoe Ui Semibold'), local('Segoe-Ui-Semibold'), local('segoe ui semibold'),
			local('segoe-ui-semibold'), url('/fonts/segoe-ui/seguisb.ttf') format('truetype');
		font-weight: bold;
		font-display: swap;
	}

	@font-face {
		font-family: 'Segoe UI';
		src: local('Segoe Ui Bold'), local('Segoe-Ui-Bold'), local('segoe ui bold'),
			local('segoe-ui-bold'), url('/fonts/segoe-ui/segoeuib.ttf') format('truetype');
		font-weight: bolder;
		font-display: swap;
	}
}
